<h1>most_popular_products</h1>
{{mostpopular.name}}
{{mostpopular.amt}}

<h1>least_popular_products</h1>
{{leastPopular.name}}
{{leastPopular.amt}}

<h1>most popular Category</h1>
 {{mostPopularCtg.name}}
 {{mostPopularCtg.amt}}

 <h1>least popular Category</h1>
