<div id="add-products">
<table class="table">
	<tr>
                <th>Product ID</th>
		<th>Category ID</th>
                <th>Product Name</th>
        </tr>
{{#product}}
        <tr>
                <td>{{Id}}</td>
                <td>{{Category_Id}}</td>
                <td>{{product_name}}</td>
                <td><button><a href="/products/edit/{{Id}}">Edit</a></button></td>
                <td><button><a href="products/delete/{{Id}}">Delete</a></button></td>
        </tr>
{{/product}}
</table>
        <h1>Add a product</h1>
        <form action="/products/add" method="POST">
                product_name: <input type="text" name="product_name"> 
                <select name="Category_Id">
                {{#categories}}
                <option value="{{Id}}">{{category_name}}
                </option>
                {{/categories}}
                </select>    
                <input type="submit">
        </form>
</div>