<div class='search-form'>
<form  class='searchblog'>
	<input class='searchsubmit' type='submit' value='Search'/>
    <input class='searchbar' id="saleSearch" name='product_name' placeholder='Search Here' size='15' type='text' x-webkit-speech='true'/>
</form>
</div>
{{#action}}
  <table class="table" id="SaleSearchResults">
	<tr>
		<th>Product-name</th>
		<th>Date</th>
		<th>Sales-price</th>
		<th>No-Sold</th>
	</tr>

	{{#Sale}}
	<tr>
		<td>{{product_name}}</td>
		<td>{{date}}</td>
		<td>{{no_sold}}</td>
		<td>{{sale_price}}</td>
	</tr>
	{{/Sale}}
 </table>
{{/action}}

{{#isAdmin}}
<h1><a href="/sales/SalesAdd">Add a product</a></h1>
<table class="table" id="SaleSearchResults">
	<tr>
		<th>Product-name</th>
		<th>Date</th>
		<th>Sales-price</th>
		<th>No-Sold</th>
	</tr>

	{{#Sale}}
	<tr>
		<td>{{product_name}}</td>
		<td>{{date}}</td>
		<td>{{no_sold}}</td>
		<td>{{sale_price}}</td>
		<td><button><a href="/sales/edit/{{Id}}">Edit</a></button></td>
		<td><button><a href="/sales/delete/{{Id}}">Delete</a></button></td>
	</tr>
	{{/Sale}}
</table>
{{/isAdmin}}
