
 <h1>Add a Sale</h1>
 <form action="/Sale/add" method="POST">
 product_name: <input type="text" name="product_name">
 <select name="product_name">
 {{#each products}}
 <option value="{{Id}}">{{product_name}}
 </option>
 {{/each}}
 </select>

 <input type="submit">
 </form>
 <table class="table">
 <tr>
 <th>Product-name</th>
 <th>Date</th>
 <th>Sales-price</th>
 <th>No-Sold</th>
 </tr>

 {{#Sale}}
 <tr>
 <td>{{product_name}}</td>
 <td>{{date}}</td>
 <td>{{no_sold}}</td>
 <td>{{sale_price}}</td>
 <td><button><a href="/Sales/edit/{{Id}}">Edit</a></button></td>
 <td><button><a href="/Sales/delete/{{Id}}">Delete</a></button></td>
 </tr>
 {{/Sale}}
<table class="table">
	<tr>
               
                <th>Product-name</th>
                <th>Date</th>
                <th>Sales-price</th>
                <th>No-Sold</th>

        </tr>
{{#Sale}}
        <tr>
        		<td>{{product_name}}</td> 
        		<td>{{date}}</td> 
        		<td>{{no_sold}}</td> 
                <td>{{sale_price}}</td>  
                <td><button><a href="/Sales/edit/{{Id}}">Edit</a></button></td>
                <td><button><a href="/Sales/delete/{{Id}}">Delete</a></button></td>
        </tr>
{{/Sale}}
</table>

