<div class='search-form'>
<form  class='searchblog'>
	<input class='searchsubmit' type='submit' value='Search'/>
    <input class='searchbar' id="saleSearch" name='product_name' placeholder='Search Here' size='15' type='text' x-webkit-speech='true'/>

</form>
</div>
{{#action}}
  <table class="table" id="SaleSearchResults">
	<tr>
		<th>Product-name</th>
		<th>Date</th>
		<th>Sales-price</th>
		<th>No-Sold</th>
	</tr>

	{{#Sale}}
	<tr>
		<td>{{product_name}}</td>
		<td>{{date}}</td>
		<td>{{no_sold}}</td>
		<td>{{sale_price}}</td>
	</tr>
	{{/Sale}}
 </table>
{{/action}}

{{#isAdmin}}
	<h1>Add a Sale</h1>
<form action="/sales/add" method="POST">
	Date:<input type="date" name="date">
	Product-name: 
	<select name="product_name">
		{{#products}}
		<option value="{{product_name}}">{{product_name}}</option>
		{{/products}}
	</select>
	Sales-price:<input type="number" name="sale_price" required><br />
	<br />
	No-Sold:<input type="number" name="no_sold" required>

	<input type="submit">
</form>

<table class="table" id="SaleSearchResults">
	<tr>
		<th>Product-name</th>
		<th>Date</th>
		<th>Sales-price</th>
		<th>No-Sold</th>
	</tr>

	{{#Sale}}
	<tr>
		<td>{{product_name}}</td>
		<td>{{date}}</td>
		<td>{{no_sold}}</td>
		<td>{{sale_price}}</td>
		<td><button><a href="/sales/edit/{{Id}}">Edit</a></button></td>
		<td><button><a href="/sales/delete/{{Id}}">Delete</a></button></td>
	</tr>
	{{/Sale}}
</table>
{{/isAdmin}}
