<h1>Add a supplier</h1>
        <form action="/Supply/add" method="POST">
                Description: <input type="text" name="description"><input type="submit">
        </form>
<table class="table">
	<tr>
                <th>supplier-Id</th>
                <th>Shop</th>
              
        </tr>
{{#supplier}}
        <tr>
        		<td>{{Id}}</td>
<<<<<<< HEAD
        		<td>{{shop}}</td> 
        <td><button><a href="/Supply/edit/{{Id}}">Edit</a></button></td>
                <td><button><a href="/Supply/delete/{{Id}}">Delete</a></button></td>
=======
        		<td>{{shop}}</td>
            <td><button><a href="/showSuppl/edit/{{Id}}">Edit</a></button></td>
                <td><button><a href="showSuppl/delete/{{Id}}">Delete</a></button></td>
>>>>>>> f329bd4219a41a2a3b89e4c1b057390d66930a0d
        </tr>
{{/supplier}}
</table>
</div>